<form class="row g-3" [(formGroup)]="myForm">
  <div class="card pb-5 ">
    <div class="card-header">
      PERSONAL DETAILS
    </div>
    <div class="card-body ">
      <div class="row">
        <div class="col-md-2">
          <label for="inputState" class="form-label">Prefix</label>
          <select id="inputState" class="form-select" formControlName="prefix">
            <option selected>Mr.</option>
            <option>Ms.</option>
          </select>
        </div>


        <div class="col-md-3">

          <label class="form-label">First Name</label>
          <input type="text" class="form-control" formControlName="firstname" name="firstname" id="firstname" (focusout)="unique()" >
          <span *ngIf="f.firstname.errors">Field is required.</span>
        </div>
        <div class="col-md-3">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="lastname">
          <span *ngIf="f.lastname.errors">Field is required.</span>
        </div>
        <div class="col-md-3">
          <label class="form-label">Middle Name</label>
          <input type="text" class="form-control" formControlName="middlename">
          <span *ngIf="f.middlename.errors">Field is required.</span>
        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <label for="birthday" class="form-label">Birthday</label>
          <!-- <input type="text"
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dp="bsDatepicker"
        bsDatepicker 
        (change)=" CalculateAge()"> -->

          <input [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"  formControlName="birthday"
            (ngModelChange)="CalculateAge($event)" class="form-control" bsDatepicker [(ngModel)]="birthdate" name="birthday">
            <span *ngIf="f.birthday.errors">Field is required.</span>
        </div>
        <div class="col-md-2">
          <label class="form-label">Age</label>
          <input type="text" formControlName="age" value="{{age}}" [(ngModel)]="age" class="form-control">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Blood group</label>
          <input type="text" class="form-control" id="inputZip"  formControlName="bloodgroup">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">height</label>
          <input type="text" class="form-control" id="inputZip"  formControlName="height">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">weight</label>
          <input type="text" class="form-control" id="inputZip"  formControlName="weight">
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="col-md-2">
      <label for="inputState" class="form-label"></label>
      <select id="inputState" class="form-select">
        <option selected>Mr.</option>
        <option>Ms.</option>
      </select>
    </div>
    
    
    <div class="col-md-3">
  
      <label  class="form-label">First Name</label>
      <input type="text" class="form-control"  formControlName="firstname"> 
    </div>
    <div class="col-md-3">
      <label  class="form-label">Last Name</label>
      <input type="text" class="form-control"  formControlName="lastname">
    </div>
    <div class="col-md-3">
      <label  class="form-label">Middle Name</label>
      <input type="text" class="form-control" formControlName="middlename">
    </div> -->
  <div class="card">
    <div class="card-header">
      ADDRESS
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
            formControlName="address">
            <span *ngIf="f.address.errors">field is required.</span>
        </div>
        <div class="col-md-6 mt-3">
          <label class="form-label">State</label>
          <select id="state" class="form-select"  formControlName="state" (change)='onSelectState($event)' (focusin)=" getStates()"
            >
            <option value=" ">Select State</option>
            <option *ngFor="let state of state" [value]="state.id">{{state.name}}</option>

          </select>
          <span *ngIf="f.state.errors">Field is required.</span>

        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label class="form-label" for="City">City</label>
            <select class="form-control input-lg" id="city" formControlName="city" >
              <option *ngIf="!selectedState" value=" hhhhhhhhhhhhhhhhhhh">Select City</option>
              <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
            </select>
            <span *ngIf="f.city.errors">Field is required.</span>

          </div>
        </div>
        <div class="col-md-2 mt-4">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" formControlName="zip">
          
          <span *ngIf="f.zip.errors">Enter six digits</span>
        </div>
      </div>
    </div>

  </div>
  <!-- 
    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
    </div> -->
  <div class="card">
    <div class="card-header">
      ADDITIONAL DETAILS
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <label for="inputState" class="form-label">academics</label>
          <select id="inputState" class="form-select">
            <option selected>hsc</option>
            <option>ssc</option>
          </select>
        </div>
        
        <div class="col-md-3">
          <label for="inputAddress" class="form-label">marks</label>
          <input type="text" class="form-control" id="n1" formControlName="marks">
        </div>
        <div class="col-md-3">
          <label for="inputAddress" class="form-label">marks outof</label>
          <input type="text" class="form-control" id="n2" formControlName="total" (focusout)="percentage()">
        </div>

        <div class="col-md-3">
          <label for="inputAddress" class="form-label">percentage</label>
          <input type="text" class="form-control" id="n3" [(ngModel)]='abc' formControlName="percentage">
          <!-- <button  (click)="percentage()" type="submit"><img src="arrow.png" alt="Arrow Icon"></button> -->
        </div>
        <div class="col-md-6 mt-4">
          <label for="inputAddress2" class="form-label">Mobile Number</label>
          <input type="text" class="form-control" id="inputAddress2" formControlName="mobile">
          <span *ngIf="f.mobile.errors">Enter 10 digit number</span>
        </div>
      </div>
    </div>
  </div>


  <div class="card pb-5">
    <div class="card-header">
      PROFILE PICTURE
    </div>
    <div class="card-body">
      <div class="row">
      <div  class="col-md-3" >
        <label for="exampleFormControlFile1">choose image</label>
        <input type="file" id="multipleimage" class="form-control-file" multiple (change)="selectImage($event)">
      </div>
      

    
  
      <div  class="col-md-2" >
      <button  id="upload" type="submit" class="btn btn-primary" (click)="onUpload()">upload</button>
    </div>
    <div class="col-md-3">
      <img id="image" [src]="this.image.url">
    </div>
  </div>
  </div>
    
  
  </div>

  <!-- <div class="col-md-2">
      <label for="inputState" class="form-label">academics</label>
      <select id="inputState" class="form-select">
        <option selected>hsc</option>
        <option>ssc</option>
       
      </select>
      <label for="inputAddress" class="form-label">marks</label>
      <input type="text" class="form-control" id="n1" formControlName="marks">
      <label for="inputAddress" class="form-label">marks outof</label>
      <input type="text" class="form-control" id="n2" formControlName="total" (focusout)="percentage()">
      <label for="inputAddress" class="form-label">percentage</label>
      <input type="text" class="form-control" id="n3" [(ngModel)]='abc' formControlName="percentage"  > -->
  <!-- <button  (click)="percentage()" type="submit"><img src="arrow.png" alt="Arrow Icon"></button> -->
  <!-- </div> -->
  <!-- <div class="col-md-6">
      <label for="inputAddress2" class="form-label">Mobile Number</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="mobile" >
    </div> -->

  <!-- <div class="col-md-6">
      <label  class="form-label" >State</label>
      <select  id="state" class="form-select"  (change)='onSelectState($event)' (focusin)=" getStates()" formControlName="state">)
        <option value=" ">Select State</option>
<option *ngFor="let state of state" [value]= "state.id">{{state.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="City">City:</label>
      <select class="form-control input-lg" id="city" formControlName="city">
      <option *ngIf="!selectedState" value=" hhhhhhhhhhhhhhhhhhh">Select City</option>
      <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
      </select>
      </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" formControlName="zip">
    </div> -->

  <div class="col-md-6">
    <button  [disabled]="!myForm.valid" type="submit" class="btn btn-primary" (click)="onSubmit()">submit</button>
  </div>
</form>
<!-- <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Profile Image</label>
    <input type="file" id="multipleimage" class="form-control-file" multiple (change)="selectImage($event)">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onUpload()">upload</button>
</form> -->


<!-- <label>Country</label> -->
<!-- <div  title="Please select the country that the customer will primarily be served from">



    <select placeholder="Phantasyland" (change)="changeCountry($event)">
          <option *ngFor ="let count of countryList">{{count.name}} </option>
      </select>
  </div>
  
  
  <label>City</label>
  <div title="Please select the city that the customer is primarily to be served from.">
    <select placeholder="Anycity">
          <option *ngFor ="let city of cities">{{city}} </option>
    </select>
  </div> -->


  <button (click)="showToast()">Show Toast</button>