img {
    width: 60px;
    height: 60px;
    
    -webkit-background-clip: padding-box;
    
    -moz-background-clip: padding;
    
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
  }